.Header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #8a8c8e;
  @media only screen and (max-width: 1250px) {
    display: none;
  }
  @media only screen and (max-width: 768px) {
    display: none;
  }
  &_Number {
    display: flex;
    align-items: center;
    color: #ff8c00;
  }
}
