.CommentSection {
  width: 100%;
  height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &_MainText {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 150px;
    text-align: left;
    font-weight: bold;
    font-size: 60px;
    color: #ffffff;
    @media only screen and (max-width: 1000px) {
      padding: 30px;
      left: 0;
      font-size: 26px;
    }
  }
  &_Button {
    margin-top: 30px;
    background-color: #1e1e1e;
    font-weight: 500;
    font-size: 20px;
  }
  &_MainContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-top: 100px;
  }
  &_Slider {
    width: 100%;
    position: absolute;
  }
  &_FooterButton {
    position: absolute;
    bottom: 60px;
    left: 85px;
    @media only screen and (max-width: 1000px) {
      display: flex;
      justify-content: center;
      position: unset;
      margin-top: 80px;
    }
  }
}
