.MainSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px 30px 0 30px;
  @media only screen and (max-width: 1440px) {
    height: 800px;
  }

  @media only screen and (max-width: 1250px) {
    height: unset;
    padding: 20px;
  }
  @media only screen and (max-width: 768px) {
    height: unset;
    padding: 20px;
  }

  &_ContentWrapper {
    height: 800px;
    @media only screen and (max-width: 1440px) {
      height: 700px;
    }
  }

  &_Content {
    height: 800px;
    display: flex;
    padding: 140px 140px 0 140px;
    @media only screen and (max-width: 1440px) {
      height: 100%;
      padding: 110px 130px 0 140px;
    }
    @media only screen and (max-width: 1250px) {
      height: 100%;
      flex-direction: column;
      padding: 20px 20px 0 20px;
      align-items: center;
    }
    @media only screen and (max-width: 768px) {
      height: 100%;
      flex-direction: column;
      padding: 10px 10px 0 10px;
      align-items: center;
    }
  }
  &_Text {
    width: 70%;
    @media only screen and (max-width: 768px) {
      width: 100%;
    }
  }
  &_Title {
    width: 100%;
    color: #ffffff;
    font-size: 60px;
    margin: 0;
    text-align: left;
    word-wrap: break-word;
    @media only screen and (max-width: 1440px) {
      font-size: 50px;
    }
    @media only screen and (max-width: 1250px) {
      font-size: 42px;
    }
    @media only screen and (max-width: 768px) {
      font-size: 24px;
    }
  }
  &_Subtitle {
    color: #ff8c00;
    text-align: left;
    font-weight: 500;
    font-size: 25px;
    @media only screen and (max-width: 1250px) {
      font-size: 20px;
      padding-bottom: 50px;
    }
    @media only screen and (max-width: 768px) {
      padding-bottom: 0;
      font-size: 14px;
    }
  }
  &_Button {
    margin-top: 90px;
    @media only screen and (max-width: 1250px) {
      display: none;
    }
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
}

.Photo {
  width: 650px;
  @media only screen and (max-width: 1440px) {
    width: 520px;
    padding-top: 100px;
  }
  @media only screen and (max-width: 1250px) {
    width: 550px;
    padding-top: 20px;
  }
  @media only screen and (max-width: 768px) {
    width: 250px;
  }
  &_Main {
    width: 650px;
    @media only screen and (max-width: 1440px) {
      width: 520px;
    }
    @media only screen and (max-width: 1250px) {
      width: 550px;
    }
    @media only screen and (max-width: 768px) {
      width: 250px;
    }
  }
  &_Item1,
  &_Item2,
  &_Item3 {
    margin-top: -700px;
    margin-left: 370px;
    animation: moveInRight 1s ease-out forwards;
    animation-delay: 3s;
    opacity: 0;
    @media only screen and (max-width: 1440px) {
      margin-top: -278px;
      margin-left: 253px;
    }
    @media only screen and (max-width: 1250px) {
      margin-top: -550px;
      margin-left: 305px;
    }
    @media only screen and (max-width: 768px) {
      margin-top: -140px;
      margin-left: 105px;
    }
  }
  &_Item2 {
    margin-top: -410px;
    margin-left: -85px;
    animation-delay: 4s;
    @media only screen and (max-width: 1440px) {
      margin-top: -340px;
      margin-left: -85px;
    }
    @media only screen and (max-width: 1250px) {
      margin-top: -300px;
      margin-left: -20px;
    }
    @media only screen and (max-width: 768px) {
      margin-top: -75px;
      margin-left: -25px;
    }
  }
  &_Item3 {
    margin-top: -175px;
    margin-left: 290px;
    animation-delay: 5s;
    @media only screen and (max-width: 1440px) {
      margin-top: -150px;
      margin-left: 5px;
    }
    @media only screen and (max-width: 1250px) {
      margin-top: -155px;
      margin-left: 260px;
    }
    @media only screen and (max-width: 768px) {
      margin-top: -15px;
      margin-left: 80px;
    }
  }
}

.MobileButton {
  display: none;
  @media only screen and (max-width: 1250px) {
    margin-top: 80px;
    margin-bottom: 40px;
    display: flex;
  }
  @media only screen and (max-width: 768px) {
    margin-top: 80px;
    display: flex;
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
