.swiper-container {
  position: relative;
  margin: 0;
  padding: 100px 0;
  @media only screen and (max-width: 1000px) {
    padding: 0;
  }
}
.Circle {
  background-color: #ff8c00;
  width: 750px !important;
  height: 750px;
  border-radius: 50%;
  @media only screen and (max-width: 1000px) {
    width: 300px !important;
    height: 300px;
    border-radius: 50%;
  }
}

.swiper-slide {
  transition: 0.5s;
}

.swiper-slide-active {
  transform: scale(1.2);
  transition: 0.5s;
  @media only screen and (max-width: 1000px) {
    transform: scale(0.7);
  }
}
